body{
    font-family: 'Noto Sans', sans-serif;
}
section{
    height: 400px;
    padding-bottom: 100px;
}
.sec-side{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
.banner-top{
    background-image: url(images/frame-57.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sec-side img{
    width: 100%;
    padding-bottom: 50px;
    padding-top: 5%;
}
.button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(241, 147, 110), rgb(219, 81, 56));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.button:hover{
    background: linear-gradient(45deg, rgb(182, 81, 41), rgb(145, 34, 15));
    padding: 10px 40px;
    border-radius: 5px;
    color: blanchedalmond;
    font-weight: 900;    
}
p{
    color: rgb(141, 133, 133);
}
.about-healthy{
    background-image: url(images/bg.jpg)
}
h2{
    font-size: 40px;
}
.about-healthy img{
    margin:10% 0;
}
.recipes-side{
    width:25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.recipes-sec h2{
    text-align: left;
    padding-left: 5%;
}
.recipes-sec h3{
    color: rgb(241, 115, 12);
}
.recipes-side a{
    padding: 5%;
}
.recipes-sec div{
    box-shadow: 5px 7px 40px gray;
    height: 75%;
    padding-right: 5px;
}